@import '../../global/scss/config';

/////////////////////////////////
// Character Display Component //
/////////////////////////////////
.characters-origin {
    
    // transform: rotate(0) !important;
  }
.characters:hover{
    transform: translateZ(5px);
}
.characters {
    font-family: 'Inter', sans-serif;
        width: 300px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        // height: 100%;
        transition: 1s;
        transform: scale(1.1) rotate(360deg) skew(360deg, 360deg);
        transform-style: preserve-3d;
        margin: 40px 40px;
    @media screen and (min-width: $screen-sm-min){
        @include flex(row, center, center);
        height: 500px;
        padding: 20px;
        background:rgba(255, 255, 255, 0);
        border-radius: 12px;
    }
    &-module:hover{
        box-shadow: 0 40px 60px 10px rgba(57, 109, 94, 45%);
    }
    &-module:after{
        content: '';
        position: absolute;
        top: calc(-1 * var(--borderWidth));
        left: calc(-1 * var(--borderWidth));
        height: calc(100% + var(--borderWidth) * 2);
        width: calc(100% + var(--borderWidth) * 2);
        background: linear-gradient(60deg, #53f7f7, #7bdfec, #03ddfa, #1cf0c2, #6fec63, #5ff844, #08ffd6, #22d7f7);
        border-radius: calc(2 * var(--borderWidth));
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
    }
    &-module {
        // width: 300px;
        --borderWidth: 2px;
        box-shadow: 0 22px 70px 0px #396d5e;
        background: rgba(255, 255, 255, .5) !important;
        position: relative;
        border-radius: var(--borderWidth);
        @media screen and (min-width: $screen-sm-min){
            @include flex(column, center, center);
        }
        
        &-container{
            // width: 100%;
            cursor: pointer;
            width: 300px;
            margin: 10px;
            transition: 0.3s;
            &-name{
                @include flex(column, center, center);
                font-family: 'Audiowide', cursive;
                font-weight: 400;
                color: rgba(11, 60, 80, 0.473);
                text-align: center;
                animation: slideUp .5s;
            }
            &-image{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-position: center;
                height: 300px;
                width: 100%;
                border-radius: 4px;
                filter: drop-shadow(2px 4px 6px black);
                // box-shadow: 0px 6px 26px -12px #55ffe0;
                .characters-btn {
                    background: rgba(255, 255, 255, 0);
                    border: none;
                    padding: 10px;
                    height: 100%;
                    width: 100%;
                }
            }
            &-info{
                display: flex;
                justify-content: center;
                flex-direction: column;
                font-family: 'Audiowide', cursive;
                font-weight: 400;
                font-size: 14px;
                text-align: start;
                background: #fff;
                padding: 16px 0 16px;
                width: 100%;
                border-radius: 0 0 10px 10px;
                border-top:#0cabc4 solid thin;
                margin: 0 12px;
                .alive {
                    color: rgb(233, 111, 111);
                }
                .dead {
                    color: rgb(61, 61, 61);
                }
                .gender, .location, .status, .species, .origin {
                    margin-left: 12px;
                    display: flex;
                    align-items: center;
                }
                .gender-icon, .species-icon, .location-icon, .origin-icon, .alive, .dead {
                    margin-right: 10px;
                }
                .species-icon {
                    color: #63c5ec;
                }
                .location-icon {
                    color: #eeafa3;
                }
                .origin-icon{
                    color: #70eb84;
                }
            }
        }
    }
}
@keyframes slideUp {
	from { 
        transform: scaleY(0); 
    }
    to   { 
        transform: scaleY(1); 
    }
}
@keyframes slideDown {
	from { 
        transform: scaleY(0%); 
    }
    to   { 
        transform: scaleY(100%); 
    }
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
